# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["prothos"]
    destdir = "linux"

    # pseudo modules and so on that are assumed as available
    provides = [
      #"tag/cpu/amd64",
      #"tag/cpu/pause",
      #"tag/cpu/clflush",
      #"tag/cpu/xapic",
      #"tag/mode/kernel",
	  "tag/platform/linux",
      #"tag/compiler/gcc",
      #"tag/boot/intelmp",
      #"tag/boot/multiboot",
      #"tag/cap/spinning"
      ]

    requires = [
      "Makefile",
      ]

    modules = [
      #"doxygen",
      "gitignore",
	  "runtime-prothos",
      "app-init-prothos",
    ]

[config.vars]

