# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["mythos/kernel", "prothos"]
    destdir = "mythos-amd64"

    # pseudo modules and so on that are assumed as available
    provides = [
      "tag/cpu/amd64",
      "tag/cpu/pause",
      "tag/cpu/clflush",
      "tag/cpu/xapic",
      "tag/mode/kernel",
      "tag/platform/pc",
      "tag/platform/mythos",
      "tag/compiler/gcc",
      "tag/boot/intelmp",
      "tag/boot/multiboot",
      "tag/cap/spinning"
      ]

    requires = [
      "boot32.elf",
      "tag/emu-qemu",
      "tag/emu-bochs",
      "Makefile",
      ]

    modules = [
      #"doxygen",
      "gitignore",
      "thread-mutex-delegating",
      "plugin-dump-multiboot",
	  "runtime-prothos",
	  #"runtime-prothos-mythos",
      "app-init-prothos-mythos",
    ]

[config.vars]

mythos_root = "../mythos"
cxx_path = "../mythos/3rdparty/cxx"

